[submodule "product_reserve"]
	path = product_reserve
	url = https://github.com/humanytek-team/product_reserve
[submodule "product_compromise"]
	path = product_compromise
	url = https://github.com/humanytek-team/product_compromise
[submodule "product_supply"]
	path = product_supply
	url = https://github.com/humanytek-team/product_supply
[submodule "sale_user_required"]
	path = sale_user_required
	url = https://github.com/humanytek-team/sale_user_required
[submodule "sale_order_observation"]
	path = sale_order_observation
	url = https://github.com/humanytek-team/sale_order_observation
[submodule "sale_date_promised"]
	path = sale_date_promised
	url = https://github.com/humanytek-team/sale_date_promised
[submodule "sale_guide_transport"]
	path = sale_guide_transport
	url = https://github.com/skukered/sale_guide_transport
[submodule "mrp_mpps"]
	path = mrp_mpps
	url = https://github.com/humanytek-team/mrp_mpps
[submodule "order_decimal"]
	path = order_decimal
	url = https://github.com/humanytek-team/order_decimal
[submodule "mrp_ii"]
	path = mrp_ii
	url = https://github.com/humanytek-team/mrp_ii
[submodule "mrp_report"]
	path = mrp_report
	url = https://github.com/humanytek-team/mrp_report
[submodule "sale_discount_report"]
	path = sale_discount_report
	url = https://github.com/humanytek-team/sale_discount_report
[submodule "mrp_upload_forecast"]
	path = mrp_upload_forecast
	url = https://github.com/humanytek-team/mrp_upload_forecast
[submodule "archive_product_partner"]
	path = archive_product_partner
	url = https://github.com/humanytek-team/archive_product_partner
