[submodule "product_reserve"]
	path = product_reserve
	url = https://github.com/humanytek-team/product_reserve
[submodule "product_compromise"]
	path = product_compromise
	url = https://github.com/humanytek-team/product_compromise
[submodule "product_supply"]
	path = product_supply
	url = https://github.com/humanytek-team/product_supply
[submodule "sale_user_required"]
	path = sale_user_required
	url = https://github.com/humanytek-team/sale_user_required
