[submodule "product_reserve"]
	path = product_reserve
	url = https://github.com/humanytek-team/product_reserve
[submodule "product_compromise"]
	path = product_compromise
	url = https://github.com/humanytek-team/product_compromise
[submodule "product_supply"]
	path = product_supply
	url = https://github.com/humanytek-team/product_supply
[submodule "sale_user_required"]
	path = sale_user_required
	url = https://github.com/humanytek-team/sale_user_required
[submodule "sale_order_observation"]
	path = sale_order_observation
	url = https://github.com/humanytek-team/sale_order_observation
[submodule "sale_date_promised"]
	path = sale_date_promised
	url = https://github.com/humanytek-team/sale_date_promised
[submodule "sale_guide_transport"]
	path = sale_guide_transport
	url = https://github.com/skukered/sale_guide_transport
[submodule "mrp_mpps"]
	path = mrp_mpps
	url = https://github.com/humanytek-team/mrp_mpps
[submodule "order_decimal"]
	path = order_decimal
	url = https://github.com/humanytek-team/order_decimal
